version: "3.9"

services:
  web:
    build: ./app
    container_name: projectx_web
    command: gunicorn projectx.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./app:/usr/src/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: projectx_db
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    container_name: projectx_nginx
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./app:/usr/src/app
    ports:
      - "80:80"
    depends_on:
      - web

volumes:
  postgres_data:
